/**
 *  Author: Louis Blin
 *  Date:   28/06/2015
 *
 *  Description: CSS file for all the pages of the ChampyLight project. 
 */

/***************  GENERAL LAYOUT ***************/

html, 
body,
container {
    background-color: silver;
}

body {
    padding-top: 10px;
    font-family: Univers, sans-serif;
}
  
[class*="col-"] {
    line-height: 3em;
    text-align: center;

    padding-left: 0;
    padding-right: 0;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

#header_title,
#command,
.channel {
    border-radius: 10px;
    border: dimgrey solid 3px;
    margin-top: 10px;
    background-color: paleturquoise;
}

.patch_side_left, 
.channel_side_left {
    border-right: dimgrey solid 3px;
}

.patch_side_right, 
.channel_side_right {
    border-left: dimgrey solid 3px;
}

.patch_side_left {
    left: 3px;
}

/***************  PARTICULAR LAYOUT ***************/

/*** HEADER ***/

#header_title {
    line-height: 2em;
}

/*** COMMANDS ***/

#command {
    padding-top: 10px;
    padding-bottom: 10px;
}

#fire_transition {
}

#timer {
    padding-left: 10px;
    padding-right: 10px;
}

#slider_timer_msg {
    padding-left: 10px;
    display: inline-block;
}

#timer .slider {
    width: 70%;
}

#timer .slider-selection {
    background: #BABABA;
}

/*** SLIDERS ***/

/** channel_side **/
.channel_side {
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    height: 170px;
}

/** channel_side_left **/

.patch_no {
}

.colour {
    border-radius: 50%;
    border: 1px dimgrey solid;
}

.val_int {
}

.channel_side_left div {
    margin-top: 10px;
    height: 40px;
}

/** channel_side_right **/

.intensity {
    margin-top: 20px;
}

.intensity .slider-handle {
    background: #FFE900;
}

.intensity .slider-track-high {
    background: #FFFF82;
}

.slider.slider-vertical {
    height: 140px; 
}

/* Sliders fields */

.slider.slider-horizontal {
    width: 90%;
}

.slider_red .slider-selection {
    background: #FF8282;
}

.slider_red .slider-handle {
    background: red;
}

.slider_green .slider-selection {
    background: #428041;
}

.slider_green .slider-handle {
    background: green;
}

.slider_blue .slider-selection {
    background: #8283FF;
}

.slider_blue .slider-handle {
    border-bottom-color: blue;
}

/*** FOOTER ***/

#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

/*** PATCH ***/


.patch_side_left,
.patch_side_right {
    padding-top: 10px;
    padding-bottom: 10px;
}

form .patch_side_left {
    padding-right: 5px;
    padding-left: 5px;
}

#add {
    margin-top: 20px;
}

#new_patch_btn {
    margin-top: 20px;
    margin-bottom: 20px;
}

.channel_div {
    margin-bottom: 10px;
}

td input,
.spot_type label {
    height: 3em;
}

.spot_type label {
    width: 50%;
}

.spot_type,
.dmx_input {
    width: 100%;
}

